<div class="banner shadow-sm">
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div>Your Movies Collection</div>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
      New List
    </button>
  </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content bgr">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">New List</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= simple_form_for(@list) do |f| %>
                  <%= f.input :name %>
                  <%= f.input :image, as: :file %>
                  <%= f.submit "Save List", class: "btn btn-secondary" %>
              <% end %>
        </div>
      </div>
    </div>
  </div>

    <div class='container'>
    <h2>My lists</h2>
    <% if @lists && @lists.any? %>
    <div class='row'>
    <% @lists.each do |list| %>
    <div class="col">
      <div class="card bg-dark text-white d-flex shadow-sm">
        <div class="card-bgr" style="background-image: url('<%= cl_image_path list.image.key %>')">
        <div class="d-flex justify-content-center align-items-center">
          <h5 class="card-title"><%= link_to list.name, list_path(list) %></h5>
        </div>
        </div>
      </div>
    </div>
    <% end %>
    </div>
    </div>
    <% else %>
    <h3>No list yet!</h3>
    <% end %>


</div>
